.form-control {
  padding-top: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form-control:focus {
  border-color: #8f9dc3;
  box-shadow: 0 0 0 2px rgba(143, 157, 195, 0.25);
}
.form-select {
  cursor: pointer;
  padding-top: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-select:focus {
  border-color: #8f9dc3;
  box-shadow: 0 0 0 2px rgba(143, 157, 195, 0.25);
}

.form-select option:checked {
  background-color: #8f9dc3;
  color: white;
}
