<div class="container mt-3">
  <div class="row align-items-center mb-1">
    <div class="col-12 col-md-4 mb-2">
      <select
        class="form-select"
        name="categories"
        id="categories"
        [(ngModel)]="selectedCatId"
        (change)="onCategoryChange()"
      >
        <option selected value="0">All Categories</option>
        <option *ngFor="let cat of categories" [value]="cat._id">
          {{ cat.name }}
        </option>
      </select>
    </div>
    <div class="col-12 col-md-8 mb-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="search"
          placeholder="Search..."
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        <app-products
          [receivedCatId]="selectedCatId"
          [searchTerm]="searchTerm"
          (onTotalPriceChanged)="calcTotalPrice($event)"
        >
        </app-products>
      </div>
      <!-- {{ receivedTotalPrice | currency : "EGP" }} for display total price of orders -->
    </div>
  </div>
</div>
