<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-3 mx-md-5 mx-2 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-body-secondary"
      >© 2025 Eldab3 Store, Inc</span
    >
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a href="https://x.com/aaeldab3" target="_blank">
        <i class="icon fab fa-twitter"></i>
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.instagram.com/el_dab3/"
        target="_blank"
      >
        <i class="icon fab fa-instagram"></i>
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.facebook.com/Dabo3a"
        target="_blank"
      >
        <i class="icon fab fa-facebook"></i>
      </a>
    </li>
  </ul>
</footer>
