<nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo" width="60" height="50" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active bg-secondary rounded-3"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/products"
            routerLinkActive="active bg-secondary rounded-3"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active bg-secondary rounded-3"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/add-product"
            routerLinkActive="active bg-secondary rounded-3"
            >Add Product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active bg-secondary rounded-3"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active bg-secondary rounded-3"
            (click)="isUserLoggedIn ? logout() : null"
          >
            <span *ngIf="!isUserLoggedIn">Login</span>
            <span *ngIf="isUserLoggedIn">Logout</span>
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
