<nav class="navbar navbar-expand-lg bg-body-tertiary mx-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/images/logo.png" alt="Logo" width="55" height="55" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active bg-secondary rounded-3"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/order"
            routerLinkActive="active bg-secondary rounded-3"
            >Orders</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active bg-secondary rounded-3"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/add-product"
            routerLinkActive="active bg-secondary rounded-3"
            >Add Product</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="!isUserLoggedIn">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Login/Register Now</a
          >
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li>
              <a class="dropdown-item" routerLink="/register">Register</a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item dropdown d-flex align-items-center"
          *ngIf="isUserLoggedIn"
        >
          <a
            class="btn btn-outline-primary position-relative ms-3 mx-2"
            routerLink="/cart"
          >
            <i class="fas fa-shopping-cart"></i>
            <span
              class="badge bg-danger position-absolute top-0 start-100 translate-middle"
            >
              {{ cartCount }}
            </span>
          </a>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ name }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
