<div class="container mt-4">
  <h2 class="text-primary text-center">Our Vision</h2>
  <p class="mt-3">
    At Eldab3, we envision a world where innovation and integrity lead the way
    in delivering exceptional products and services. Our goal is to empower
    communities, inspire creativity, and foster an environment of excellence. We
    are committed to setting industry standards, prioritizing sustainability,
    and leaving a lasting positive impact for generations to come.
  </p>
  <img
    src="assets/images/wallpaperflare.com_wallpaper.jpg"
    alt="Our Vision"
    class="img-fluid rounded mt-4"
  />
</div>
