.card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Image Container */
.image {
  position: relative;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add space between buttons */
}

.image:hover .hover-overlay {
  opacity: 1;
}

/* Buttons Inside Overlay */
.hover-overlay button {
  z-index: 1000;
  transition: all 0.5s;
  opacity: 0;
  width: 40%; /* Adjust button width */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-overlay button:first-of-type {
  transform: translateX(-20px);
}

.hover-overlay button:last-of-type {
  transform: translateX(20px);
}

.image:hover .hover-overlay button {
  opacity: 1;
  transform: translateX(0);
}

/* Button Styling */
.btn {
  width: 30%;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
}
.pagination .btn {
  width: 5%;
}

/* Disabled Button */
.btn:disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}
